.loginButton {
  background-color: #406D91;
  height: 50;
  width: 200;
  color: white;
}

.standardResolution {
  margin: 10;
}

.caption {
  font-size: 10;
  margin-left: 10;
  margin-right: 10;
  margin-bottom: 10;
}

.profilePicture {
  margin-left: 10;
  margin-right: 10;
}

.username {
  font-size: 8;
  color: #406D91;
}

.feedProfile {
  margin-top: 10;
}



